.p-selectbutton {
    .p-button {
        background: $selectButtonBg;
        border: $selectButtonBorder;
        color: $selectButtonTextColor;
        transition: $formElementTransition;

        .p-button-icon-left,
        .p-button-icon-right {
            color: $toggleButtonIconColor;
        }

        &:not(.p-disabled):not(.p-highlight):hover {
            background: $selectButtonHoverColor;
            border-color: $selectButtonHoverBorderColor;
            color: $selectButtonHoverTextColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconHoverColor;
            }
        }

        &.p-highlight {
            background: $selectButtonActiveBg;
            border-color: $selectButtonActiveBorderColor;
            color: $selectButtonTextActiveColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $toggleButtonIconActiveColor;
            }

            &:hover {
                background: $selectButtonActiveHoverBg;
                border-color: $selectButtonActiveHoverBorderColor;
                color: $selectButtonTextActiveHoverColor;

                .p-button-icon-left,
                .p-button-icon-right {
                    color: $toggleButtonIconActiveHoverColor;
                }
            }
        }
    }
}

p-selectbutton.ng-dirty.ng-invalid > .p-selectbutton > .p-button {
    @include invalid-input();
}